<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Address Book</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <div class="contact_complete">
          <h3>Name: @Model["contact"].GetName()</h3>
          <h4>Phone: @Model["contact"].GetPhone()</h4>
          <ul>
            @foreach (var add in @Model["address"])
            {
              <li>Street: @add.GetStreet()<br> City: @add.GetCity()<br> Zipcode: @add.GetZip()<br> State: @add.GetState()</li>
            }
          </ul>
          <h3>Add another address for this contact.</h3>
          <form action="/@Model["contact"].GetId()/contact_info" method="post">
            <label for="address-street">Street:</label>
            <input id="address-street" type="text" name="address-street">
            <label for="address-city">City:</label>
            <input id="address-city" type="text" name="address-city">
            <label for="address-zip">Zip:</label>
            <input id="address-zip" type="text" name="address-zip">
            <label for="address-state">State:</label>
            <input id="address-state" type="text" name="address-state">
            <button type="submit" name="button">Add Address</button>
          </form>
        </div>
      </div>
      <div class="one btn btn-default">
        <a href="/">Home</a>
      </div>
      </div>
    </div>
  </body>
</html>
